/* Mariane Letícia Souza Moreira */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="date"],
input[type="time"],
button {
    margin: 5px 0;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#reservationStatus {
    margin-top: 10px;
    font-style: italic;
}