/* Mariane Letícia Souza Moreira */
.comments-section {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ab72f2;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 5px;
}