/* Mariane Letícia Souza Moreira */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 250px;
}
p {
    font-size: 18px;
    color: #333;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(68, 232, 177);
}