/* Mariane Letícia Souza Moreira */
.faq {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    cursor: pointer;
    background-color: #e100ff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}
