/* Mariane Letícia Souza Moreira */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #333;
    color: white;
    font-family: 'Arial', sans-serif;
}

#clock {
    font-size: 3em;
}
